<?xml version="1.0"?>
<launch>

    <arg name="serial_port" default="/dev/ttyACM0" />
    <arg name="frame_id" default="ais_link" />
    <arg name="frequency" default="10" />
    <arg name="baudrate" default="38400" />


    <node pkg="ros_ais" type="ros_daisy.py" name="AIS_node" output="screen" respawn="true">
        <param name="serial_port" value="$(arg serial_port)" />
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="frequency" value="$(arg frequency)" />
        <param name="baudrate" value="$(arg baudrate)" />
    </node>

</launch>